# CASE STUDY: DATA EXPLORATORY ANALYSIS FOR CREDIT CARD DATA

## ANALYTICS IN CREDIT CARD INDUSTRY:

Analytics has penetrated every industry owing to the various technology platforms that collect information and thus, the service providers know what exactly customers want. The Credit Card industry is no exception. Within credit card payment processing, there is a significant amount of data available that can be beneficial in countless ways.

**Understanding the customer behaviour**

The data available from a credit card processor identifies the types of consumer and their business spending behaviors. Hence, developing the marketing campaigns to directly address their behaviors indeed grows the revenue and these considerations will result in greater sales.

**Personalize offering based on data results**

Data also reveals specific interests and needs in individual customers that a company can leverage, this addressing their needs more efficiently. Specific promotions can be sent out related to where these customers are located and this builds sales more quickly.

**Use trends and patterns to get new customers**

The transactions and activities of the existing customers that they do in terms of purchase behavior tends to reflect larger trends that are coming. This information provides a strategy to go after possible customers in the target audience.

**Uncover suspicious activity**

The data from credit card processing is becoming increasingly important as a tool to fight fraud. When combined with artificial intelligence, this data is being analyzed quickly to uncover areas of purchase activity.

**Reduce chargebacks**

The ability to detect suspicious activity and patterns in data can also assess whether or not a transaction might result in a chargeback. Using analytics to track each transaction reveals anomalies. This information can help you reject that transaction and save your business from chargebacks.

## BUSINESS PROBLEM:

In order to effectively produce quality decisions in the modern credit card industry, knowledge must be gained through effective data analysis and modeling. Through the use of dynamic datadriven decision-making tools and procedures, information can be gathered to successfully evaluate all aspects of credit card operations. PSPD Bank has banking operations in more than 50 countries across the globe. Mr. Jim Watson, CEO, wants to evaluate areas of bankruptcy, fraud, and collections, respond to customer requests for help with proactive offers and service.

## DATA AVAILABLE -

This book has the following sheets:

**Customer Acquisition:** At the time of card issuing, company maintains the details of customers.

**Spend (Transaction data):** Credit card spend for each customer

**Repayment:** Credit card Payment done by customer

Following are some of Mr. Watson’s questions to a Consultant (like you) to understand the customers spend & repayment behavior.

1. In the above dataset,

    a. In case age is less than 18, replace it with mean of age values.
    b. In case spend amount is more than the limit, replace it with 50% of that customer’s limit.(customer’s limit provided in acquisition table is the per transaction limit on his card)
    c. Incase the repayment amount is more than the limit, replace the repayment with the limit.
    
2. From the above dataset create the following summaries:

    a. How many distinct customers exist?
    b. How many distinct categories exist?
    c. What is the average monthly spend by customers?
    d. What is the average monthly repayment by customers?
    e. If the monthly rate of interest is 2.9%, what is the profit for the bank for each month? (Profit is defined as interest earned on Monthly Profit. Monthly Profit = Monthly repayment
    – Monthly spend. Interest is earned only on positive profits and not on negative amounts)
    f. What are the top 5 product types?
    g. Which city is having maximum spend?
    h. Which age group is spending more money?
    i. Who are the top 10 customers in terms of repayment?
    
3. Calculate the city wise spend on each product on yearly basis. Also include a graphical representation for the same.

4. Create graphs for
    a. Monthly comparison of total spends, city wise
    b. Comparison of yearly spend on air tickets
    c. Comparison of monthly spend for each product (look for any seasonality that exists in terms of spend)
    
5. Write user defined PYTHON function to perform the following analysis:

    You need to find top 10 customers for each city in terms of their repayment amount by different products and by different time periods i.e. year or month. The user should be able to specify the product (Gold/Silver/Platinum) and time period (yearly or monthly) and the function should automatically take these inputs while identifying the top 10 customers.

---

---


## Import Libraries

In [1]:
# Handle table-like data and matrices
import pandas as pd
import numpy as np
from numpy import percentile
from datetime import date
import datetime

# Modelling Helpers
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import cufflinks as cf
import plotly
import plotly.express as px
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected = True)
cf.go_offline()
import plotly.graph_objects as go

# Configure visualisations
%matplotlib inline

## Load Data

In [2]:
customer_acqusition=pd.read_csv('Customer Acqusition.csv', index_col=[0])
customer_acqusition

    Customer  Age        City   Product     Limit Company        Segment
No
1         A1   76   BANGALORE      Gold  500000.0      C1  Self Employed
2         A2   71    CALCUTTA    Silver  100000.0      C2   Salaried_MNC
3         A3   34      COCHIN  Platimum   10000.0      C3   Salaried_Pvt
4         A4   47      BOMBAY  Platimum   10001.0      C4           Govt
5         A5   56   BANGALORE  Platimum   10002.0      C5  Normal Salary
..       ...  ...         ...       ...       ...     ...            ...
96       A96   54     CHENNAI    Silver  100000.0     C19   Salaried_Pvt
97       A97   58  TRIVANDRUM  Platimum   10000.0     C20           Govt
98       A98   51    CALCUTTA  Platimum   10001.0     C21  Normal Salary
99       A99   35    CALCUTTA  Platimum   10002.0     C22  Self Employed
100     A100   36      COCHIN    Silver  100000.0      C5   Salaried_MNC

[100 rows x 7 columns]

In [3]:
repayment_data= pd.read_csv('Repayment.csv', index_col=[0])
repayment_data

       Customer      Month     Amount  Unnamed: 4
SL No:
NaN          A1  12-Jan-04  495414.75         NaN
2.0          A1   3-Jan-04  245899.02         NaN
3.0          A1  15-Jan-04  259490.06         NaN
4.0          A1  25-Jan-04  437555.12         NaN
5.0          A1  17-Jan-05  165972.88         NaN
...         ...        ...        ...         ...
NaN         NaN        NaN        NaN         NaN
NaN         NaN        NaN        NaN         NaN
NaN         NaN        NaN        NaN         NaN
NaN         NaN        NaN        NaN         NaN
NaN         NaN        NaN        NaN         NaN

[1523 rows x 4 columns]

In [4]:
spend_data= pd.read_csv('spend.csv', index_col=[0])
spend_data

       Customer      Month        Type     Amount
Sl No:
1            A1  12-Jan-04   JEWELLERY  485470.80
2            A1   3-Jan-04       PETRO  410556.13
3            A1  15-Jan-04     CLOTHES   23740.46
4            A1  25-Jan-04        FOOD  484342.47
5            A1  17-Jan-05      CAMERA  369694.07
...         ...        ...         ...        ...
1496        A67   4-Feb-06  BUS TICKET  356872.73
1497        A68  25-Mar-06  BUS TICKET  204971.10
1498        A69  31-Mar-06  BUS TICKET   50449.44
1499        A70  23-Mar-06  BUS TICKET   80593.94
1500        A71  24-Mar-06  BUS TICKET  194447.62

[1500 rows x 4 columns]

In [5]:
repayment_data["Month"] = repayment_data["Month"].astype('datetime64[ns]')
spend_data["Month"] = spend_data["Month"].astype('datetime64[ns]')

# BUSINESS PROBLEM:

Following are some of Mr. Watson’s questions to a Consultant (like you) to understand the customers spend & repayment behavior.

## 1. In the above dataset,
### a. In case age is less than 18, replace it with mean of age values.

In [6]:
customer_acqusition.loc[customer_acqusition['Age'] <18, 'Age']= customer_acqusition.mean()

C:\Users\rahul\AppData\Local\Temp\ipykernel_16832\1115956201.py:1: FutureWarning:

Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

## b. In case spend amount is more than the limit, replace it with 50% of that customer’s limit. (customer’s limit provided in acquisition table is the per transaction limit on his card)

In [7]:
spend_total=pd.merge(left=spend_data, right=customer_acqusition, on=['Customer'], how='left')
spend_total

,Customer,Month,Type,Amount,Age,City,Product,Limit,Company,Segment
0,A1,2004-01-12,JEWELLERY,485470.80,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
1,A1,2004-01-03,PETRO,410556.13,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
2,A1,2004-01-15,CLOTHES,23740.46,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
3,A1,2004-01-25,FOOD,484342.47,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
4,A1,2005-01-17,CAMERA,369694.07,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
...,...,...,...,...,...,...,...,...,...,...
1495,A67,2006-02-04,BUS TICKET,356872.73,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary
1496,A68,2006-03-25,BUS TICKET,204971.10,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed
1497,A69,2006-03-31,BUS TICKET,50449.44,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed
1498,A70,2006-03-23,BUS TICKET,80593.94,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed
1499,A71,2006-03-24,BUS TICKET,194447.62,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed

In [8]:
spend_total['Amount']= np.where(spend_total.Amount > spend_total.Limit, spend_total.Limit/2, spend_total.Amount)
spend_total

,Customer,Month,Type,Amount,Age,City,Product,Limit,Company,Segment
0,A1,2004-01-12,JEWELLERY,485470.80,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
1,A1,2004-01-03,PETRO,410556.13,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
2,A1,2004-01-15,CLOTHES,23740.46,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
3,A1,2004-01-25,FOOD,484342.47,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
4,A1,2005-01-17,CAMERA,369694.07,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
...,...,...,...,...,...,...,...,...,...,...
1495,A67,2006-02-04,BUS TICKET,356872.73,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary
1496,A68,2006-03-25,BUS TICKET,50000.00,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed
1497,A69,2006-03-31,BUS TICKET,5000.00,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed
1498,A70,2006-03-23,BUS TICKET,5000.50,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed
1499,A71,2006-03-24,BUS TICKET,5001.00,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed

## c. Incase the repayment amount is more than the limit, replace the repayment with the limit.

In [9]:
repayment_data.drop('Unnamed: 4', axis=1, inplace=True)

In [10]:
repayment_data.dropna(axis=0, inplace=True)

In [11]:
repayment_data

       Customer      Month     Amount
SL No:
NaN          A1 2004-01-12  495414.75
2.0          A1 2004-01-03  245899.02
3.0          A1 2004-01-15  259490.06
4.0          A1 2004-01-25  437555.12
5.0          A1 2005-01-17  165972.88
...         ...        ...        ...
1496.0      A67 2005-05-09   55638.77
1497.0      A68 2006-05-10  319836.49
1498.0      A69 2006-07-11  247628.45
1499.0      A70 2005-08-12  454016.51
1500.0      A71 2004-09-13   56286.33

[1500 rows x 3 columns]

In [12]:
repayment_data1= pd.merge(left=repayment_data, right=customer_acqusition, on=['Customer'], how='left')
repayment_data1

,Customer,Month,Amount,Age,City,Product,Limit,Company,Segment
0,A1,2004-01-12,495414.75,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
1,A1,2004-01-03,245899.02,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
2,A1,2004-01-15,259490.06,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
3,A1,2004-01-25,437555.12,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
4,A1,2005-01-17,165972.88,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
...,...,...,...,...,...,...,...,...,...
1495,A67,2005-05-09,55638.77,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary
1496,A68,2006-05-10,319836.49,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed
1497,A69,2006-07-11,247628.45,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed
1498,A70,2005-08-12,454016.51,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed
1499,A71,2004-09-13,56286.33,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed

In [13]:
repayment_data1['Amount']= np.where(repayment_data1.Amount > repayment_data1.Limit, repayment_data1.Limit, repayment_data1.Amount)
repayment_data1

,Customer,Month,Amount,Age,City,Product,Limit,Company,Segment
0,A1,2004-01-12,495414.75,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
1,A1,2004-01-03,245899.02,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
2,A1,2004-01-15,259490.06,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
3,A1,2004-01-25,437555.12,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
4,A1,2005-01-17,165972.88,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
...,...,...,...,...,...,...,...,...,...
1495,A67,2005-05-09,55638.77,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary
1496,A68,2006-05-10,100000.00,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed
1497,A69,2006-07-11,10000.00,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed
1498,A70,2005-08-12,10001.00,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed
1499,A71,2004-09-13,10002.00,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed

## 2. From the above dataset create the following summaries:
### a. How many distinct customers exist?

In [14]:
customer_acqusition.Customer.nunique()

100

### b. How many distinct categories exist?

In [15]:
customer_acqusition.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Customer  100 non-null    object
 1   Age       94 non-null     float64
 2   City      100 non-null    object
 3   Product   100 non-null    object
 4   Limit     100 non-null    float64
 5   Company   100 non-null    object
 6   Segment   100 non-null    object
dtypes: float64(2), object(5)
memory usage: 6.2+ KB

In [16]:
spend_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 1 to 1500
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Customer  1500 non-null   object
 1   Month     1500 non-null   datetime64[ns]
 2   Type      1500 non-null   object
 3   Amount    1500 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 58.6+ KB

In [17]:
category1= customer_acqusition.loc[:,customer_acqusition.dtypes=='object']
category1.nunique()

Customer    100
City          8
Product       3
Company      41
Segment       5
dtype: int64

In [18]:
category2= spend_data.loc[:,spend_data.dtypes=='object']
category2.nunique()

Customer    100
Type         15
dtype: int64

### c. What is the average monthly spend by customers?

In [19]:
spend_data['month_name']= spend_data.Month.dt.month_name(locale = 'English')
spend_data

       Customer      Month        Type     Amount month_name
Sl No:
1            A1 2004-01-12   JEWELLERY  485470.80    January
2            A1 2004-01-03       PETRO  410556.13    January
3            A1 2004-01-15     CLOTHES   23740.46    January
4            A1 2004-01-25        FOOD  484342.47    January
5            A1 2005-01-17      CAMERA  369694.07    January
...         ...        ...         ...        ...        ...
1496        A67 2006-02-04  BUS TICKET  356872.73   February
1497        A68 2006-03-25  BUS TICKET  204971.10      March
1498        A69 2006-03-31  BUS TICKET   50449.44      March
1499        A70 2006-03-23  BUS TICKET   80593.94      March
1500        A71 2006-03-24  BUS TICKET  194447.62      March

[1500 rows x 5 columns]

In [20]:
spend_data2 = spend_data.groupby(['Customer','month_name']).agg(mean_monthly_spend=('Amount',np.mean))
spend_data2.head(20)

                     mean_monthly_spend
Customer month_name
A1       April            261649.250000
         August           344372.100000
         February         175235.690000
         January          372762.587143
         May              361141.310000
         November         183839.610000
         October          244534.680000
A10      April            270721.680000
         August           454827.230000
         February         194557.667500
         January          161144.326667
         July             239798.030000
         March            134631.266667
         May              189207.392500
         November         459690.690000
A100     January          224786.880000
A11      April            483603.210000
         August           404113.850000
         February         237842.337500
         January          130298.903333

### d. What is the average monthly repayment by customers?

In [21]:
repayment_data['month_name']= repayment_data.Month.dt.month_name(locale = 'English')
repayment_data

       Customer      Month     Amount month_name
SL No:
NaN          A1 2004-01-12  495414.75    January
2.0          A1 2004-01-03  245899.02    January
3.0          A1 2004-01-15  259490.06    January
4.0          A1 2004-01-25  437555.12    January
5.0          A1 2005-01-17  165972.88    January
...         ...        ...        ...        ...
1496.0      A67 2005-05-09   55638.77        May
1497.0      A68 2006-05-10  319836.49        May
1498.0      A69 2006-07-11  247628.45       July
1499.0      A70 2005-08-12  454016.51     August
1500.0      A71 2004-09-13   56286.33  September

[1500 rows x 4 columns]

In [22]:
repayment_data2 = repayment_data.groupby(['Customer','month_name']).agg(mean_monthly_repay=('Amount',np.mean))
repayment_data2.head(20)

                     mean_monthly_repay
Customer month_name
A1       April            254474.580000
         February         156374.760000
         January          343972.327143
         July             297176.740000
         November         285729.090000
         September        186427.500000
A10      April            159582.470000
         February         217344.503333
         January          272897.385000
         July             358194.650000
         March            240130.543333
         May               98672.695000
A100     January           69551.190000
A11      April            319488.693333
         August           332677.610000
         February         267447.315000
         January          319518.796667
         July             128484.370000
         March            254319.010000
         May              338580.575000

### e. If the monthly rate of interest is 2.9%, what is the profit for the bank for each month? 
### (Profit is defined as interest earned on Monthly Profit. Monthly Profit = Monthly repayment – Monthly spend. Interest is earned only on positive profits and not on negative amounts)

In [23]:
spend_data3 = spend_data.groupby(['Customer','month_name']).agg(monthly_total_spend=('Amount',np.sum))
repayment_data3 = repayment_data.groupby(['Customer','month_name']).agg(monthly_total_repay=('Amount',np.sum))

In [24]:
spend_repay= pd.merge(left=spend_data3, right=repayment_data3,on=["Customer","month_name"],how="left")
spend_repay

                     monthly_total_spend  monthly_total_repay
Customer month_name
A1       April                 523298.50            508949.16
         August                344372.10                  NaN
         February              876178.45            781873.80
         January              2609338.11           2407806.29
         May                   361141.31                  NaN
...                                  ...                  ...
A95      January               240401.50            369405.96
A96      January                54729.66            310992.30
A97      January               139018.26            121874.90
A98      January               284521.06            337815.57
A99      January                90184.22             25682.73

[578 rows x 2 columns]

In [25]:
spend_repay['Monthly_Profit']= spend_repay['monthly_total_repay'] - spend_repay['monthly_total_spend']
spend_repay

                     monthly_total_spend  monthly_total_repay  Monthly_Profit
Customer month_name
A1       April                 523298.50            508949.16       -14349.34
         August                344372.10                  NaN             NaN
         February              876178.45            781873.80       -94304.65
         January              2609338.11           2407806.29      -201531.82
         May                   361141.31                  NaN             NaN
...                                  ...                  ...             ...
A95      January               240401.50            369405.96       129004.46
A96      January                54729.66            310992.30       256262.64
A97      January               139018.26            121874.90       -17143.36
A98      January               284521.06            337815.57        53294.51
A99      January                90184.22             25682.73       -64501.49

[578 rows x 3 columns]

In [26]:
spend_repay['Interest_amt']= np.where(spend_repay.Monthly_Profit > 0, (2.9* spend_repay['Monthly_Profit'])/100, 0* spend_repay['Monthly_Profit'] )
spend_repay[spend_repay['Interest_amt']>0]

                     monthly_total_spend  monthly_total_repay  Monthly_Profit  \
Customer month_name
A1       November              183839.61            571458.18       387618.57
A10      April                 270721.68            478747.41       208025.73
         January               483432.98           1091589.54       608156.56
         July                  239798.03            358194.65       118396.62
         March                 403893.80            720391.63       316497.83
...                                  ...                  ...             ...
A92      April                 341858.87            459105.69       117246.82
A93      January               297505.09            342326.14        44821.05
A95      January               240401.50            369405.96       129004.46
A96      January                54729.66            310992.30       256262.64
A98      January               284521.06            337815.57        53294.51

                     Interest_amt
Customer month_name
A1       November     11240.93853
A10      April         6032.74617
         January      17636.54024
         July          3433.50198
         March         9178.43707
...                           ...
A92      April         3400.15778
A93      January       1299.81045
A95      January       3741.12934
A96      January       7431.61656
A98      January       1545.54079

[228 rows x 4 columns]

### f. What are the top 5 product types?

In [27]:
product=spend_data.groupby(['Type'])[['Amount']].sum().sort_values(by="Amount",ascending=False)
product.head(5)

                   Amount
Type
PETRO         49863174.09
CAMERA        41481571.96
FOOD          37773338.43
TRAIN TICKET  33067077.15
AIR TICKET    32955445.42

### g. Which city is having maximum spend?

In [28]:
spend_cust= pd.merge(left=spend_data, right=customer_acqusition, on=['Customer'], how='left')
spend_cust

,Customer,Month,Type,Amount,month_name,Age,City,Product,Limit,Company,Segment
0,A1,2004-01-12,JEWELLERY,485470.80,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
1,A1,2004-01-03,PETRO,410556.13,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
2,A1,2004-01-15,CLOTHES,23740.46,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
3,A1,2004-01-25,FOOD,484342.47,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
4,A1,2005-01-17,CAMERA,369694.07,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed
...,...,...,...,...,...,...,...,...,...,...,...
1495,A67,2006-02-04,BUS TICKET,356872.73,February,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary
1496,A68,2006-03-25,BUS TICKET,204971.10,March,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed
1497,A69,2006-03-31,BUS TICKET,50449.44,March,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed
1498,A70,2006-03-23,BUS TICKET,80593.94,March,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed
1499,A71,2006-03-24,BUS TICKET,194447.62,March,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed

In [29]:
spend_city=spend_cust.groupby(['City'])[['Amount']].sum().sort_values(by="Amount",ascending=False)
spend_city.head(5)

                Amount
City
COCHIN     73495349.26
BANGALORE  69342631.62
CALCUTTA   64415760.01
BOMBAY     50828266.74
CHENNAI    32674988.07

### h. Which age group is spending more money?

In [30]:
spend_cust["Age_Group"] =  pd.cut(spend_cust["Age"],bins=np.arange(18,88,8),labels=["18-26","26-34", "34-42" ,"42-50" ,"50-58","58-66","66-74","74-82"],include_lowest=True)
spend_cust

,Customer,Month,Type,Amount,month_name,Age,City,Product,Limit,Company,Segment,Age_Group
0,A1,2004-01-12,JEWELLERY,485470.80,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82
1,A1,2004-01-03,PETRO,410556.13,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82
2,A1,2004-01-15,CLOTHES,23740.46,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82
3,A1,2004-01-25,FOOD,484342.47,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82
4,A1,2005-01-17,CAMERA,369694.07,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,A67,2006-02-04,BUS TICKET,356872.73,February,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary,50-58
1496,A68,2006-03-25,BUS TICKET,204971.10,March,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed,NaN
1497,A69,2006-03-31,BUS TICKET,50449.44,March,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed,26-34
1498,A70,2006-03-23,BUS TICKET,80593.94,March,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed,NaN
1499,A71,2006-03-24,BUS TICKET,194447.62,March,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed,26-34

In [31]:
age_group=spend_cust.groupby(['Age_Group'])[['Amount']].sum().sort_values(by="Amount",ascending=False)
age_group.head(5)

                Amount
Age_Group
26-34      71076544.85
34-42      61658185.23
42-50      49227056.39
50-58      48600571.86
18-26      34913392.94

### i. Who are the top 10 customers in terms of repayment?

In [32]:
top_repay=repayment_data.groupby(['Customer'])[['Amount']].sum().sort_values(by="Amount",ascending=False)
top_repay.head(10)

               Amount
Customer
A61       10539142.91
A60        9876290.74
A13        9572000.66
A22        9372561.68
A21        9056336.15
A43        8489871.46
A45        8448334.87
A12        8334760.16
A48        8292416.75
A14        7943268.63

### 3. Calculate the city wise spend on each product on yearly basis. Also include a graphical representation for the same.

In [33]:
spend_cust['year'] = pd.DatetimeIndex(spend_cust['Month']).year
spend_cust

,Customer,Month,Type,Amount,month_name,Age,City,Product,Limit,Company,Segment,Age_Group,year
0,A1,2004-01-12,JEWELLERY,485470.80,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
1,A1,2004-01-03,PETRO,410556.13,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
2,A1,2004-01-15,CLOTHES,23740.46,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
3,A1,2004-01-25,FOOD,484342.47,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
4,A1,2005-01-17,CAMERA,369694.07,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,A67,2006-02-04,BUS TICKET,356872.73,February,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary,50-58,2006
1496,A68,2006-03-25,BUS TICKET,204971.10,March,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed,NaN,2006
1497,A69,2006-03-31,BUS TICKET,50449.44,March,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed,26-34,2006
1498,A70,2006-03-23,BUS TICKET,80593.94,March,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed,NaN,2006
1499,A71,2006-03-24,BUS TICKET,194447.62,March,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed,26-34,2006

In [34]:
city_wise_spend= spend_cust.groupby(['City','Product','year'])[['Amount']].sum()  
city_wise_spend.reset_index(inplace=True)
city_wise_spend

          City   Product  year       Amount
0    BANGALORE      Gold  2004   9289878.54
1    BANGALORE      Gold  2005  12892362.99
2    BANGALORE      Gold  2006  12030611.09
3    BANGALORE  Platimum  2004   6046763.93
4    BANGALORE  Platimum  2005   7784194.68
..         ...       ...   ...          ...
67  TRIVANDRUM  Platimum  2005   7186762.35
68  TRIVANDRUM  Platimum  2006   4174473.45
69  TRIVANDRUM    Silver  2004    795897.19
70  TRIVANDRUM    Silver  2005   1445540.63
71  TRIVANDRUM    Silver  2006   2005942.36

[72 rows x 4 columns]

In [35]:
fig= px.bar(city_wise_spend, x='City', y='Amount', color='Product', hover_data=['year'], barmode='group', height=400)
fig.show()

## 4. Create graphs for
### a. Monthly comparison of total spends, city wise

In [36]:
spend_city.reset_index(inplace=True)
spend_city

         City       Amount
0      COCHIN  73495349.26
1   BANGALORE  69342631.62
2    CALCUTTA  64415760.01
3      BOMBAY  50828266.74
4     CHENNAI  32674988.07
5  TRIVANDRUM  25761239.41
6       PATNA  24609274.54
7       DELHI  23516564.54

In [37]:
fig= px.bar(spend_city, x='City', y='Amount', barmode='group', height=400)
fig.show()

### b. Comparison of yearly spend on air tickets

In [38]:
spend_cust

,Customer,Month,Type,Amount,month_name,Age,City,Product,Limit,Company,Segment,Age_Group,year
0,A1,2004-01-12,JEWELLERY,485470.80,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
1,A1,2004-01-03,PETRO,410556.13,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
2,A1,2004-01-15,CLOTHES,23740.46,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
3,A1,2004-01-25,FOOD,484342.47,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
4,A1,2005-01-17,CAMERA,369694.07,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,A67,2006-02-04,BUS TICKET,356872.73,February,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary,50-58,2006
1496,A68,2006-03-25,BUS TICKET,204971.10,March,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed,NaN,2006
1497,A69,2006-03-31,BUS TICKET,50449.44,March,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed,26-34,2006
1498,A70,2006-03-23,BUS TICKET,80593.94,March,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed,NaN,2006
1499,A71,2006-03-24,BUS TICKET,194447.62,March,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed,26-34,2006

In [39]:
air_spend= spend_cust.groupby(['Type','year'])[['Amount']].sum()

In [40]:
air_spend= air_spend.loc["AIR TICKET"]
air_spend

           Amount
year
2004   8370914.59
2005  14495718.73
2006  10088812.10

In [41]:
air_spend.reset_index(inplace=True)
fig= px.bar(air_spend, x='year', y='Amount', barmode='group', height=400, title='Air Ticket')
fig.show()

### c. Comparison of monthly spend for each product (look for any seasonality that exists in terms of spend)

In [42]:
spend_cust

,Customer,Month,Type,Amount,month_name,Age,City,Product,Limit,Company,Segment,Age_Group,year
0,A1,2004-01-12,JEWELLERY,485470.80,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
1,A1,2004-01-03,PETRO,410556.13,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
2,A1,2004-01-15,CLOTHES,23740.46,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
3,A1,2004-01-25,FOOD,484342.47,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2004
4,A1,2005-01-17,CAMERA,369694.07,January,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,74-82,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,A67,2006-02-04,BUS TICKET,356872.73,February,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary,50-58,2006
1496,A68,2006-03-25,BUS TICKET,204971.10,March,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed,NaN,2006
1497,A69,2006-03-31,BUS TICKET,50449.44,March,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed,26-34,2006
1498,A70,2006-03-23,BUS TICKET,80593.94,March,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed,NaN,2006
1499,A71,2006-03-24,BUS TICKET,194447.62,March,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed,26-34,2006

In [43]:
prod_month= spend_cust.groupby(['month_name','Product'], as_index=False)['Amount'].sum()
prod_month

   month_name   Product       Amount
0       April      Gold  13170572.59
1       April  Platimum  12798498.34
2       April    Silver   9531706.20
3      August      Gold   4954030.42
4      August  Platimum   3892605.15
5      August    Silver   1067730.23
6    December      Gold   2332940.96
7    December  Platimum   2951972.85
8    December    Silver    566722.76
9    February      Gold  24779179.55
10   February  Platimum  22081411.74
11   February    Silver   8602266.23
12    January      Gold  32413831.83
13    January  Platimum  35212526.96
14    January    Silver  21794816.82
15       July      Gold   5167416.37
16       July  Platimum   3695098.37
17       July    Silver   2395261.32
18       June      Gold   6538862.64
19       June  Platimum   4756418.62
20       June    Silver   2219152.89
21      March      Gold  19256972.48
22      March  Platimum  22639437.70
23      March    Silver  14988675.86
24        May      Gold  21548169.76
25        May  Platimum  19380600.97
26        May    Silver   9739404.20
27   November      Gold   9203267.46
28   November  Platimum   7977852.48
29   November    Silver   3743265.31
30    October      Gold   3018223.38
31    October  Platimum   2517051.91
32    October    Silver    494594.37
33  September      Gold   3816887.62
34  September  Platimum   3411278.13
35  September    Silver   1985369.72

In [44]:
fig= px.bar(prod_month, x='month_name', y='Amount', color='Product', barmode='group', height=400, title='monthly spend for each product ')
fig.show()

## Inference:

**We can see from the above graph that the sales are high for all the Products during the months:**

    -January
    -February
    -March
    -April
    -May
**Out of these months,highest sales are in January**

## 5. Write user defined PYTHON function to perform the following analysis:

### You need to find top 10 customers for each city in terms of their repayment amount by different products and by different time periods i.e. year or month. The user should be able to specify the product (Gold/Silver/Platinum) and time period (yearly or monthly) and the function should automatically take these inputs while identifying the top 10 customers.

In [45]:
repayment_data1['Monthly']= repayment_data1.Month.dt.month_name(locale = 'English')
repayment_data1['year']= pd.DatetimeIndex(repayment_data1['Month']).year
repayment_data1

,Customer,Month,Amount,Age,City,Product,Limit,Company,Segment,Monthly,year
0,A1,2004-01-12,495414.75,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,January,2004
1,A1,2004-01-03,245899.02,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,January,2004
2,A1,2004-01-15,259490.06,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,January,2004
3,A1,2004-01-25,437555.12,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,January,2004
4,A1,2005-01-17,165972.88,76.0,BANGALORE,Gold,500000.0,C1,Self Employed,January,2005
...,...,...,...,...,...,...,...,...,...,...,...
1495,A67,2005-05-09,55638.77,54.0,CHENNAI,Gold,500000.0,C29,Normal Salary,May,2005
1496,A68,2006-05-10,100000.00,NaN,TRIVANDRUM,Silver,100000.0,C30,Self Employed,May,2006
1497,A69,2006-07-11,10000.00,33.0,CALCUTTA,Platimum,10000.0,C31,Self Employed,July,2006
1498,A70,2005-08-12,10001.00,NaN,BOMBAY,Platimum,10001.0,C32,Self Employed,August,2005
1499,A71,2004-09-13,10002.00,34.0,BOMBAY,Platimum,10002.0,C33,Self Employed,September,2004

In [46]:
city_repay_top=repayment_data1.groupby(['City' ,'Product','year','Monthly','Customer'], as_index=False)[['Amount']].sum().sort_values(by='Amount', ascending=False)
city_repay_top

          City   Product  year    Monthly Customer      Amount
163     BOMBAY      Gold  2004    January      A42  2516249.24
182     BOMBAY      Gold  2005        May      A42  2296055.41
4    BANGALORE      Gold  2004    January       A1  2241833.41
515     COCHIN      Gold  2006      April      A61  2190863.07
285   CALCUTTA      Gold  2004    January      A60  2022209.43
..         ...       ...   ...        ...      ...         ...
288   CALCUTTA      Gold  2005      April      A10     3121.88
217     BOMBAY  Platimum  2004  September      A33     2273.98
545     COCHIN  Platimum  2004      March      A41     2083.26
615     COCHIN    Silver  2005     August      A25     1168.46
548     COCHIN  Platimum  2004   November      A41       55.86

[798 rows x 6 columns]

In [47]:
city_repay_top2=city_repay_top.groupby(['City' ,'year','Product'], as_index=False).apply(lambda x : x.sort_values(by = 'Amount', ascending = False).head(10).reset_index(drop = True))
city_repay_top2.head(20)

          City   Product  year    Monthly Customer      Amount
0 0  BANGALORE      Gold  2004    January       A1  2241833.41
  1  BANGALORE      Gold  2004    January      A43  1906497.47
  2  BANGALORE      Gold  2004    January      A13  1627668.57
  3  BANGALORE      Gold  2004    January      A14   993114.87
  4  BANGALORE      Gold  2004      April      A14   812582.20
  5  BANGALORE      Gold  2004        May      A14   539532.24
  6  BANGALORE      Gold  2004        May      A30   496754.84
  7  BANGALORE      Gold  2004  September      A13   439840.91
  8  BANGALORE      Gold  2004      March      A14   425031.99
  9  BANGALORE      Gold  2004        May      A63   416676.34
1 0  BANGALORE  Platimum  2004    January      A37   500008.58
  1  BANGALORE  Platimum  2004    January      A52   263853.18
  2  BANGALORE  Platimum  2004        May      A37   144582.08
  3  BANGALORE  Platimum  2004   November      A37   100003.00
  4  BANGALORE  Platimum  2004    January       A5    60012.00
  5  BANGALORE  Platimum  2004    January      A19    40000.00
  6  BANGALORE  Platimum  2004  September      A37    25958.96
  7  BANGALORE  Platimum  2004  September      A19    10000.00
  8  BANGALORE  Platimum  2004        May       A5     8797.07
2 0  BANGALORE    Silver  2004    January      A59   476551.50

In [48]:
city_repay_top_month= city_repay_top2.copy()
city_repay_top_month

            City Product  year   Monthly Customer      Amount
0  0   BANGALORE    Gold  2004   January       A1  2241833.41
   1   BANGALORE    Gold  2004   January      A43  1906497.47
   2   BANGALORE    Gold  2004   January      A13  1627668.57
   3   BANGALORE    Gold  2004   January      A14   993114.87
   4   BANGALORE    Gold  2004     April      A14   812582.20
...          ...     ...   ...       ...      ...         ...
71 0  TRIVANDRUM  Silver  2006     March      A57   478548.42
   1  TRIVANDRUM  Silver  2006     March      A86   100002.00
   2  TRIVANDRUM  Silver  2006  December      A57   100001.00
   3  TRIVANDRUM  Silver  2006       May      A68   100000.00
   4  TRIVANDRUM  Silver  2006     April      A57    77377.57

[544 rows x 6 columns]

In [49]:
city_repay_top_year= city_repay_top2.copy()
city_repay_top_year.drop('Monthly', axis=1, inplace=True)
city_repay_top_year

            City Product  year Customer      Amount
0  0   BANGALORE    Gold  2004       A1  2241833.41
   1   BANGALORE    Gold  2004      A43  1906497.47
   2   BANGALORE    Gold  2004      A13  1627668.57
   3   BANGALORE    Gold  2004      A14   993114.87
   4   BANGALORE    Gold  2004      A14   812582.20
...          ...     ...   ...      ...         ...
71 0  TRIVANDRUM  Silver  2006      A57   478548.42
   1  TRIVANDRUM  Silver  2006      A86   100002.00
   2  TRIVANDRUM  Silver  2006      A57   100001.00
   3  TRIVANDRUM  Silver  2006      A68   100000.00
   4  TRIVANDRUM  Silver  2006      A57    77377.57

[544 rows x 5 columns]

In [50]:
def top10Customers(product_category,time_period):
    if time_period == 'year':
        city_repay_top3=city_repay_top_year[city_repay_top_year['Product']==product_category].groupby(['City' ,time_period,'Product'], as_index=False).apply(lambda x : x.sort_values(by = 'Amount', ascending = False).head(10).reset_index(drop = True))
    else:
        city_repay_top3=city_repay_top_month[city_repay_top_month['Product']==product_category].groupby(['City', 'year' ,time_period,'Product'], as_index=False).apply(lambda x : x.sort_values(by = 'Amount', ascending = False).head(10).reset_index(drop = True))
    return city_repay_top3

## To view report of Top 10 Customer

### Kindly for Product Category= { ' Gold ' , ' Silver ' , ' Platimum ' }
### To view report for year wise or month wise= { ' year ' , ' Monthly ' }

In [51]:
product_category=str(input("Please Enter Product Category and product category should be in Gold/Silver/Platinum: "))
time_period=str(input("Please Enter Time Period and time period should be in yearly/monthly: "))

Please Enter Product Category and product category should be in Gold/Silver/Platinum: Gold
Please Enter Time Period and time period should be in yearly/monthly: Monthly

In [52]:
top10Customers_Analysis=top10Customers(product_category,time_period)

In [53]:
top10Customers_Analysis

             City Product  year   Monthly Customer      Amount
0   0   BANGALORE    Gold  2004     April      A14   812582.20
1   0   BANGALORE    Gold  2004   January       A1  2241833.41
    1   BANGALORE    Gold  2004   January      A43  1906497.47
    2   BANGALORE    Gold  2004   January      A13  1627668.57
    3   BANGALORE    Gold  2004   January      A14   993114.87
...           ...     ...   ...       ...      ...         ...
111 0  TRIVANDRUM    Gold  2006  February      A28   318811.88
112 0  TRIVANDRUM    Gold  2006   January      A28    84875.95
113 0  TRIVANDRUM    Gold  2006      July      A28   380460.40
114 0  TRIVANDRUM    Gold  2006     March      A28  1547067.86
115 0  TRIVANDRUM    Gold  2006       May      A28   930071.85

[184 rows x 6 columns]